Source: pyocd
Section: non-free/embedded
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
 python-all, python-setuptools-scm, python-setuptools,
 python-usb, python-future
Standards-Version: 4.0.0
Homepage: https://github.com/mbedmicro/pyOCD
X-Python3-Version: >= 2.6
Vcs-Git: https://github.com/Linaro/pkg-pyocd.git
Vcs-Browser: https://github.com/Linaro/pkg-pyocd

Package: python-pyocd
Architecture: all
Depends: python-usb (>= 1.0.0~), ${python:Depends}, ${misc:Depends}
Description: ARM Cortex-M programming tools
 Tools for programming and debugging ARM Cortex-M microcontrollers.
