Source: pyocd
Section: embedded
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
 python-all, python-setuptools-scm, python-setuptools,
 python-usb, python-future,
 python-websocket
Standards-Version: 4.0.0
Homepage: https://github.com/mbedmicro/pyOCD
X-Python3-Version: >= 2.6
#Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/pyocd.git
#Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/pyocd.git/
#Testsuite: autopkgtest-pkg-python

Package: python-pyocd
Architecture: all
Depends: python-usb (>= 1.0.0), ${python:Depends}, ${misc:Depends}
Description: ARM Cortex-M programming tools
 Tools for programming and debugging ARM Cortex-M microcontrollers.
